:root {
  --primary: #9ED1FE;
  --secondary: #FFAFF8;
  --accentA: #F5FEA1;
  --accentB: #AAFFA2;
}

body {
  background-color: var(--primary) !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container {
  /* min-height: 100vh; */
  margin-top: 2%;
  padding: 2%;
  width: 80%;
  text-align: center;
}
.subCont {
  border-radius: 25px ;
  padding-bottom: 100px !important;
}
h1 {
  background-color: var(--secondary);
  padding: 3%;
  border-radius: 25px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.container {
  margin: 5%;
  gap: 5%;
  justify-content: space-between;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
